<div class="jumbotron center">
    <h1>Welcome to My Recipes App!</h1>
    <h2>The Best Recipe Sharing App!</h2>
    <p><%= link_to "Sign Up or Login", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row" id="intro">
    <div class="col-lg-4">
      <h2>Vegetarian</h2>
      <h4>A fantastic collection of tasty Vegetarian and Vegan meals and Snacks</h4>
      <p>See our great range of healthy, scrumptious Vegetarian meals. <br> Try them out , leave a comment or maybe even add a new recipe to the collection. </p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Dinner</h2>
      <h4>A fantastic collection of delicious Dinners. </h4>
      <p>See our great range of healthy, delicious Dinners for the whole family.<br> Try them out , leave a comment or maybe even add a new recipe to the collection. </p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Deserts</h2>
      <h4>A fantastic collection of Decadent Desserts.</h4>
      <p>See our great range of Decadent Desserts that will leave you wanting more! <br> Try them out , leave a comment or maybe even add a new recipe to the collection.</p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>


