<div class="jumbotron center">
    <h1>Welcome to My Recipes App!</h1>
    <h2>Full Of Delicious Recipes you can share with your friends!</h2><br><br>
    <p><%= link_to "Sign Up or Login", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row" id="intro">
    <div class="col-lg-4">
      <h2>Vegetarian</h2>
      <h4>Our Extensive Collection of tasty Vegetarian and Vegan meals and Snacks.</h4>
      <p>A great range of healthy alternatives. Tasty Vegetarian meals for the whole family. <br> 
      Try them out , leave a comment or maybe even add a new recipe to the collection. </p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Dinner</h2>
      <h4>Our Extensive Collection of delicious Dinners for the whole family. </h4>
      <p>A great range of healthy and delicious Dinners for the whole family.<br> 
      Try them out , leave a comment or maybe even add a new recipe to the collection. </p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Deserts</h2>
      <h4>Our Extensive Collection of Decadent Desserts.</h4>
      <p>A great range of Decadent Desserts to make your mouth water and leave you wanting more! <br> 
      Try them out , leave a comment or maybe even add a new recipe to the collection.</p><br>
      <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>


